@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.container1 {
  color:#fff;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  display:block;
}

@media (max-width: 769px) {
  .flip1{
    font-size:.4em;
    text-align: center;
  }
  }

.flip1 {
  height:50px;
  overflow:hidden;
}

.flip1 > .div1 > .div1 {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

.flip1 .div1:first-child {
  animation: show 5s linear infinite;
}

.flip1 .div1 .div1 {
  background:#4caf50;
}
.flip1 .div1:first-child .div1 {
  background:#ff9800;
}
.flip1 .div1:last-child .div1 {
  background:#29b6f6;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

/* 

*/

.apperarIn {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 3s;
  -moz-animation: fadein 3s; 
  -webkit-animation: fadein 3s; 
  -o-animation: fadein 3s; 
  
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.projectCards{
  font-size: 20;
  font-family: 'Gemunu Libre', sans-serif;

}
.projectCardsFlex{
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 769px) {
  .projectCards{
    font-size:1em;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;

  }
  .projectCardsFlex{
    display: flex;
    flex-direction: column-reverse;
  }
  
  }


  .aNoStyle{
    /* text-decoration: dashed #4caf50; */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aNoStyle:hover{
    color: #9ccc65;
  }
  .titleStyleCard{
    font-family: 'Gemunu Libre', sans-serif;
    cursor:default;
    /* background-color: #78909c; */
    /* background-color: #78909c; */

  }


  .titleStyleCardTitle{
    font-family: 'Gemunu Libre', sans-serif;
    border-bottom: 1px solid black;
    background-color: #0277bd ;
    transition: 0.3s ease-in;
    overflow-y: hidden;
  }

  .titleStyleCardTitle:hover{
    background-color: #039be5
    ;
  }

  @media (max-width: 769px) {
    .titleStyleCardTitle{
      margin-top: 60px;
  
    }
  }

  .titleStyleCardBodyHoverStyle{
    background-color: #bdbdbd;
    transition: 0.3s ease-in;
  }

  .titleStyleCardBodyHoverStyle:hover{
    background-color: #eeeeee;
    
  }


  .companylink{
    color: #fff;
    transition: 0.3s;
  }
  .companylink:hover{
    color: #66bb6a;
    text-decoration: #66bb6a;
  }

  .filterText{
    font-family: 'Rubik Mono One', sans-serif;
    color: #fff;
  }